name: reviewdog

on: [pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

permissions:
  id-token: write
  contents: read
  pull-requests: write
  issues: write

jobs:
  dirs:
    uses: ./.github/workflows/_tf_dirs.yml
    secrets: inherit

  fmt:
    runs-on: ${{ vars.RUNNER_TERRAFORM }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Get terraform-version
        id: var
        shell: bash
        run: echo "terraform-version=$(cat .terraform-version)" >> "$GITHUB_OUTPUT"

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3
        with:
          terraform_wrapper: false
          terraform_version: ${{ steps.var.outputs.terraform-version }}

      - name: fmt
        shell: bash
        run: |
          terraform fmt -diff -recursive -check .

  validate:
    needs: dirs
    if: ${{ needs.dirs.outputs.dirs != '[]' }}
    runs-on: ${{ vars.RUNNER_TERRAFORM }}
    strategy:
      fail-fast: false
      matrix:
        dir: ${{ fromJson(needs.dirs.outputs.dirs) }}

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Get terraform-version
        id: var
        shell: bash
        run: |
          echo "terraform-version=$(cat .github/tf/config/local/.terraform-version)" >> "$GITHUB_OUTPUT"

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3
        with:
          terraform_wrapper: false
          terraform_version: ${{ steps.var.outputs.terraform-version }}

      - name: Terraform Init
        uses: ./.github/actions/tf_init
        with:
          directory: ${{ matrix.dir }}
        env:
          TF_CLI_ARGS_init: "-backend=false"
          TERRAFORM_ACTION: plan
          TERRAFORM_ACTION_UPPER: PLAN

      - name: validate
        shell: bash
        working-directory: ${{ matrix.dir }}
        run: |
          terraform validate

  tflint:
    needs: dirs
    if: ${{ needs.dirs.outputs.dirs != '[]' }}
    runs-on: ${{ vars.RUNNER_TERRAFORM }}
    strategy:
      fail-fast: false
      matrix:
        dir: ${{ fromJson(needs.dirs.outputs.dirs) }}

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Terraform Init
        uses: ./.github/actions/tf_init
        with:
          directory: ${{ matrix.dir }}
        env:
          TF_CLI_ARGS_init: "-backend=false"
          TERRAFORM_ACTION: plan
          TERRAFORM_ACTION_UPPER: PLAN

      # tflintのデフォルトのプラグインパスをキャッシュし500エラーを回避する
      - uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5
        name: Cache plugin dir
        with:
          path: ${{ github.workspace }}/.tflint.d/plugins
          key: tflint-plugins-${{ hashFiles('.github/tf/config/local/.tflint.hcl') }}

      - name: tflint
        uses: reviewdog/action-tflint@54a5e5aed57dcfbb4662ec548de876df33d6288d # v1
        with:
          github_token: ${{ secrets.github_token }}
          level: info
          tflint_target_dir: ${{ matrix.dir }}
          tflint_config: ${{ github.workspace }}/.github/tf/config/local/.tflint.hcl
          reporter: github-pr-review
          fail_level: error
          filter_mode: nofilter
          tflint_init: true
          tflint_version: v0.60.0
        env:
          # reviewdog/action-tflintでは指定しない場合ランダムなtempパスが設定されキャッシュできないため明示する
          TFLINT_PLUGIN_DIR: ${{ github.workspace }}/.tflint.d/plugins

  trivy:
    runs-on: ${{ vars.RUNNER_TERRAFORM }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: reviewdog/action-trivy@a1e6d7dd5520369c076d7ce639a16442938535d8 # v1
        with:
          github_token: ${{ secrets.github_token }}
          trivy_command: config
          trivy_target: .
          level: error
          reporter: github-pr-review
          filter_mode: nofilter
          fail_level: error
          trivy_flags: --config .github/tf/config/local/trivy.yaml
          flags: -tee

  shellcheck:
    runs-on: ${{ vars.RUNNER_TERRAFORM }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: shellcheck
        uses: reviewdog/action-shellcheck@4c07458293ac342d477251099501a718ae5ef86e # v1
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          filter_mode: nofilter
          fail_level: error

  actionlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: actionlint
        uses: reviewdog/action-actionlint@e58ee9d111489c31395fbe4857b0be6e7635dbda # v1
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          filter_mode: nofilter
          fail_level: error

  misspel:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: misspell
        uses: reviewdog/action-misspell@d6429416b12b09b4e2768307d53bef58d172e962 # v1
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          filter_mode: nofilter
          fail_level: error
          path: "!docs/**"

  reviewdog_succeeded:
    needs: [fmt, validate, tflint, trivy, actionlint, misspel]
    runs-on: ${{ vars.RUNNER_TERRAFORM }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
